<div class="panel__top">
    <h2 class="panel__heading">
        {{name}}
    </h2>
</div>
<div class="panel__body pad--sm--bn">
    <div class="form__group">
        <label>Add {{name}}</label>
        {{input value=itemToAdd action="insertItem"}}
        <ul> 
            {{#each item in items}}
                <li>{{item}}</li>
            {{/each}}
        </ul>
    </div>
</div>